.password-output {
    background: rgb(6, 6, 101);
    border: 2px solid aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
    margin: 1.5 auto;
    border-radius: 15px;
    display: flex;
    font-size: 2rem;
    color: aliceblue;
    overflow-wrap: break-word;
}