#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #eeeef5aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e3eef1aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.password-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.password-button {
  padding: 0.75rem 1.5rem;
  background-color: #510774;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.toggle-btn {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.toggle-btn.random {
  background-color: #510774;
}

.toggle-btn.custom {
  background-color: #af08e6;
}

.toggle-btn .thumb {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.toggle-btn.random .thumb {
  left: 4px;
}

.toggle-btn.custom .thumb {
  left: 34px;
}

.toggle-label {
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}

.password-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.password-button-rdm {
  padding: 0.75rem 1.5rem;
  background-color: #510774;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-button-custom {
  padding: 0.75rem 1.5rem;
  background-color: #af08e6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-button-rdm.active {
  background-color: #3a0553;
}

.password-button-rdm:hover {
  background-color: #810bb8;
}

.password-button-custom.active {
  background-color: #9607c6;
}

.password-button-custom:hover {
  background-color: #c00afc;
}

.password-output {
  margin-top: 2rem;
}
